button,
input[type="submit"] {
    color: #c2c2d3;
    background-color: #505055;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;

    &:hover {
        color: #2c2c2f;
        background-color: #808085;
    }

    &:active {
        color: #c2c2d3;
        background-color: #101015;
    }
}

.delete-btn {
    color: #2c2c2f;
    background-color: #9898a2;
    border-radius: 100%;
    padding: 4px 8px;
}

input[type="submit"] {
    color: black;
    background-color: #afafd6;

    &:hover {
        color: black;
        background-color: #a8a8ff;
    }

    &:active {
        color: #eae1e1;
        background-color: #29293d;
    }
}

#close-modal-project,
#close-modal-task {
    color: black;
    background-color: #d9474f;

    &:hover {
        color: black;
        background-color: #fc6a72;
    }

    &:active {
        color: #eae1e1;
        background-color: #3d1214;
    }
}
