button {
    color: #c2c2d3;
    background-color: #505055;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;

    &:hover {
        color: #2c2c2f;
        background-color: #808085;
    }

    &:active {
        color: #c2c2d3;
        background-color: #101015;
    }
}

.delete-btn {
    background-color: unset;
    padding: 0;

    &:hover {
        color: red;
        background-color: unset;
    }
}
