@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    color: rgb(190, 190, 195);
    font-family: Inter, Helvetica, sans-serif, system-ui;
}

body {
    overflow: hidden;
    background-color: rgb(50, 50, 55);
}

.container {
    display: flex;
    height: 100vh;
}

/*
// SIDEBAR
*/

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vhd;
    max-width: 200px;

    background-color: rgb(40, 40, 45);
    border-right: 1px solid rgb(75, 75, 80);
    padding: 24px;
}

.sb-projects-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

    & button {
        height: 36px;
        font-size: 1rem;
        font-weight: bold;
        padding: 0 8px;
        flex-grow: 1;
    }
}

/*
// PROJECTS
*/

.projects-container {
    padding: 0 64px;
    width: 100%;
    overflow-y: auto;
}

.projects-section {
    width: clamp(250px, 800px, 1000px);
}

.project {
    & h4 {
        font-size: 1.5rem;
        padding: 12px 0;
        border-bottom: 1px solid #707075;
    }
}

.task {
    display: flex;
    align-items: center;
    gap: 12px;

    background-color: #505055;
    color: rgb(216, 216, 216);
    width: fit-content;
    border-radius: 16px;
    margin: 16px 0;
    padding: 10px 16px;

    & p {
        margin: 0;
    }

    &:hover {
        color: #2c2c2f;
        background-color: #808085;
    }
}

.priority-container,
.status-container {
    display: flex;

    & p,
    label,
    input {
        margin: 0 4px 0 0;
    }
}
