body {
    background-color: black;
}

#btns {
    width: 150px;
    display: flexbox;
    margin: auto;
    margin-top: 15%;
}

button {
    background-color: rgb(255, 208, 55);
    border: 2px solid rgb(211, 128, 4);
    border-radius: 8px;
    margin: 8px;
    height: 60px;
    width: 150px;
    font: bold 14pt 'sans';
    color: rgb(0, 0, 0);
}

button:hover {
    box-shadow: 0px 0px 20px 0px rgba(252, 193, 0, 0.877);
}

button:active {
    background-color: rgb(233, 183, 20);
    color: rgb(75, 57, 0);
}

#score, #results {
    color: whitesmoke;
}