@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    color: rgb(190, 190, 195);
    font-family: Inter, Helvetica, sans-serif, system-ui;
}

body {
    display: flex;

    height: 100vh;
    overflow: hidden;
    background-color: #1A1A1A;
}